#showcase {
  padding-left: 244px;
  padding-top: 311px;
  font-family: 'Roboto', sans-serif;
  color: #31384E;
}

.showcase-title {
  font-size: 87px;
  font-weight: bold;
}

.showcase-subtitle {
  font-size: 61px;
  font-weight: 300;
}

#showcase > .text {
  font-size: 18px;
  padding-top: 64px;
}

#showcase > button {
  margin-top: 72px;
  font-size: 20px;
  color: #fff;
  width: 200px;
  height: 60px;
  border: 0;
  border-radius: 50px;
  background-image: linear-gradient(#2655EE,#34B3FF);
  cursor: pointer;
}

#client-logo {  
  left: 244px;
  margin-top: 132px;
  width: 788px;
  height: 66px;
}

.logo {
  float: left;
  margin-right: 24px;
}

#client-logo > .logo-discord img {
  width: 196px;
  height: 66px;
}

#client-logo > .logo-groupm img {
  width: 120px;
  height: 42px;
  transform: translateY(30%);
}

#client-logo > .logo-audiomack img {
  width: 212px;
  height: 28px;
  transform: translateY(40%);
}

#client-logo > .logo-microsoft img {
  width: 130px;
  height: 66px;
  transform: translateY(-10%);
}