#showcase {
  padding-left: 244px;
  padding-top: 311px;
  font-family: 'Roboto', sans-serif;
  color: #31384E;
}

.showcase-title {
  font-size: 87px;
  font-weight: bold;
}

.showcase-subtitle {
  font-size: 61px;
  font-weight: 300;
}

#showcase > .text {
  font-size: 18px;
  padding-top: 64px;
}

#showcase > button {
  margin-top: 72px;
  font-size: 20px;
  color: #fff;
  width: 200px;
  height: 60px;
  border: 0;
  border-radius: 50px;
  background-image: linear-gradient(#2655EE,#34B3FF);
  cursor: pointer;
}

#client-logo {  
  left: 244px;
  margin-top: 132px;
  height: 55px;
}

.logo {
  float: left;
  margin-right: 30px;
}

#client-logo > .logo-discord img {
  height: 50px;
}

#client-logo > .logo-groupm img {
  height: 42px;
}

#client-logo > .logo-audiomack img {
  height: 32px;
}

#client-logo > .logo-microsoft img {
  height: 32px;
}

#showcase-background {
  z-index: -1;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 1vw;
}

#showcase-background > .bubble {
  margin-left: -500px;
  width: 550px;
}

#showcase-background > .ilustration {
  margin-top: -620px;
  margin-left: 160px;
}

.azul {
  position: absolute;
  left: 550px;
  top: 70%;
  background: #207BFA;
  border: 10px solid #207BFA;
  border-radius: 25px;
  box-shadow: 0px 3px 9px rgba(35, 84, 243, 0.451);
}